#
device: 'cuda'

# data settings
num_class: 10
train_batch_size: 64 
test_batch_size: 64

# FL settings
num_epoch: 400

non_iid: False
num_clients: 100
# degree_non_iid: 0.1 # non-iid
degree_non_iid: 0.1 # non-iid

C: 0.1 # ratio of selected clients
lr_global: 1 
time_step: 10

epoch_local: 1
# optim_local: 'Adam'
optim_local: 'SGD'
mom_local: 0.9
lr_local: 0.001

# model settings
name_model: 'cnn'

# attack settings
ratio_comp: 0
type_attack: 'scaling'
# type_attack: 'scaling'

# defence settings
type_defense: 'None'

path_ckpt: '../FedAVG_cnn_SGD_mnist_SGD_non_iid'
exp_name: 'FedAVG_cnn_SGD_mnist_SGD_non_iid'

load_idx: True 
load_model: True 
load_accs: True